mqttconf.json
[
    {
        "id": "7f2c250afce22616",
        "type": "tab",
        "label": "MQTTConf",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0be4bd26013cf64",
        "type": "mqtt in",
        "z": "7f2c250afce22616",
        "name": "",
        "topic": "testpaw/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "8655f913e3e6927e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "c9c978ef152ccca0",
                "84477304dc402cc8"
            ]
        ]
    },
    {
        "id": "f7e69614e77c90e9",
        "type": "mqtt out",
        "z": "7f2c250afce22616",
        "name": "",
        "topic": "testpaw/temp ",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8655f913e3e6927e",
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "c9c978ef152ccca0",
        "type": "debug",
        "z": "7f2c250afce22616",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "01f604323725977f",
        "type": "ui_switch",
        "z": "7f2c250afce22616",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": true,
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": false,
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 130,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "84477304dc402cc8",
        "type": "ui_text",
        "z": "7f2c250afce22616",
        "group": "137e00d680ecbd04",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 370,
        "y": 220,
        "wires": []
    },
    {
        "id": "8655f913e3e6927e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.157.158.119",
        "port": "1883",
        "clientid": "JMTrancePaw",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "testpaw",
        "birthQos": "2",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "137e00d680ecbd04",
        "type": "ui_group",
        "name": "Mosquitto",
        "tab": "1f3716cd69148193",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1f3716cd69148193",
        "type": "ui_tab",
        "name": "Test",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
